body {
  width: 85%;
  margin: 20px auto;
  font-family: 'Lato', sans-serif;
}

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.map_container {
  background: url('nzmap.jpg') no-repeat 0px 0px;
  height: 600px;
  width: 433px;
  position: relative;
  /*color: #fff;*/
  /*float: right;*/
  /*margin: 0px 0px 0px 20px;*/
}

.map-title {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 35px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 2.1em;
}


.map_label {
  color: #000;
  padding-left: 31px;
  font-weight: bolder;
}

.map_container a.dot {
  background: url('dots.png') no-repeat 0px 0px;
  height: 20px;
  width: 20px;
  display: block;
  cursor: pointer;
  position: absolute;
}
.map_container a.dot:hover {
  background-position: 0px -20px;
}

.map_container a.dot.selected {
  background-position: 0px -40px;
}

/*.map_container .form_island {
  position: absolute;
  top: 25px;
  left: 345px;
}*/

.map_container .form_island option {
  font-family: 'Lato', sans-serif;
}
.map_container .form_island select {
  width: 120px;
  height: 30px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.map_container .clear_both { clear: both; line-height: 1px; }

/*.detail_container {
	position: absolute;
	top: 25px;
	left: 500px;
	width: 300px;
	height: 260px;
}*/

.walk_detail {
	/*position: absolute;*/
	/*top: 0px;*/
	width: 290px;
	padding: 0px 0px 0px 12px;
	border-left: 1px solid #a9b5c8;
	border-top: 1px solid #a9b5c8;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.walk_detail .walk_photo {
	/*float: left;*/
	margin: 10px 15px 10px 0px;
  width: 250px;
	border: 1px solid #fff;
	border-radius: 8px;
	box-shadow: 0px 5px 3px #4e5d74;
	-webkit-box-shadow: 0px 5px 3px #4e5d74;
	-moz-box-shadow: 0px 5px 3px #4e5d74;
	-webkit-border-radius: 8px;
}
.walk_detail .walk_info {
	width: 100%;
	/*float: left;*/
}

.walk_info h2 {
	margin: 0px 0px 5px 0px;
	font-size: 18px;
	font-weight: bold;
}
.walk_info h3 {
	margin: 0px 0px 12px 0px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #2c3748;
}

.map_container p {
  margin: 0px 0px 12px 0px;
}



.walk_detail_container {
  display: none;
}

footer {
  margin: auto 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  text-align: center;
  bottom: 0;
  width: 100%;
  color: black;
}
.hr-main {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width:  70%;
}
